In [1]:
import pandas as pd
import numpy as np
import time
import json
from datetime import date
from matplotlib import pyplot as plt

In [2]:
state_level_feat = pd.read_csv('Choose State Level Features.csv')
state_feat_info = pd.read_csv('state_series_table_all.csv')

In [3]:
print(state_level_feat.shape)
print(state_feat_info.shape)

(229, 2)
(85514, 8)

In [4]:
chosen_state_feat = state_level_feat.title.values

In [5]:
state_feat_info.title = state_feat_info.apply(lambda row: row['title'].strip(), axis=1)
print(state_feat_info.title.values)
chosen_state_feat_info = state_feat_info[state_feat_info.title.isin(chosen_state_feat)]
print(chosen_state_feat_info.shape)

['Housing Inventory: Active Listing Count in'
 'Housing Inventory: Active Listing Count Month-Over-Month in'
 'Housing Inventory: Active Listing Count Year-Over-Year in' ...
 'Deposits in Insured Commercial Nonmember Banks in'
 'Total Deposits in Commercial Nonmember Banks in'
 'Total Deposits in Commercial Banks in']
(14496, 8)

In [6]:
late_features = chosen_state_feat_info[chosen_state_feat_info.observation_start > '2010-01-01']
print(late_features.shape)
late_features_to_drop = late_features.title.unique()
state_feat_end_trim = chosen_state_feat_info[~chosen_state_feat_info.title.isin(late_features_to_drop)]
print(state_feat_end_trim.shape)

(1502, 8)
(12945, 8)

In [7]:
early_features = state_feat_end_trim[state_feat_end_trim.observation_end < '2017-01-01']
print(early_features.shape)
early_features_to_drop = early_features.title.unique()
state_feat_trim = state_feat_end_trim[~state_feat_end_trim.title.isin(early_features_to_drop)]
print(state_feat_trim.shape)

(826, 8)
(11984, 8)

#### Check that we have each feature for every state that a county belongs to

In [8]:
county_feat_trimmed = pd.read_csv('county_features_trimmed.csv')
unique_county_ids = county_feat_trimmed.county_id.unique()
df_county_ids = pd.DataFrame(data=unique_county_ids, columns=['county_id'])
county_table = pd.read_csv('clipped_county_table.csv')

In [9]:
joined = df_county_ids.merge(county_table, on='county_id', how='left')

In [10]:
states_needed = joined.state_id.unique()
print(len(states_needed))

46

Make sure you have every county for each feature and every state

In [11]:
state_freq_count = state_feat_trim.groupby('title').frequency.nunique()
feat_with_multiple_frequencies = state_freq_count[state_freq_count > 1].index.values

series_to_remove = []
for feat in feat_with_multiple_frequencies:
    df_cur_feat = state_feat_trim[state_feat_trim.title == feat]
    print(df_cur_feat.frequency.unique())

['Monthly' 'Annual']
['Monthly' 'Annual']
['Monthly' 'Annual']
['Monthly' 'Annual']
['Monthly' 'Annual']
['Monthly' 'Annual']
['Monthly' 'Annual']
['Monthly' 'Annual']
['Monthly' 'Annual']
['Monthly' 'Annual']
['Monthly' 'Annual']
['Monthly' 'Annual']
['Monthly' 'Annual']
['Monthly' 'Annual']
['Monthly' 'Annual']
['Monthly' 'Annual']
['Monthly' 'Annual']
['Monthly' 'Annual']
['Monthly' 'Annual']
['Monthly' 'Annual']
['Monthly' 'Annual']
['Annual' 'Quarterly']
['Annual' 'Monthly']
['Monthly' 'Annual']

In [12]:
series_to_remove = []

monthly_feat = feat_with_multiple_frequencies[:-3]
monthly_feat = list(monthly_feat)
monthly_feat.extend(feat_with_multiple_frequencies[-2:])

annual_feat = feat_with_multiple_frequencies[-3:-2]
for feat in annual_feat:
    df_cur_feat = state_feat_trim[state_feat_trim.title == feat]
    series_to_remove.extend(df_cur_feat[df_cur_feat.frequency == 'Quarterly'].id.values)

for feat in monthly_feat:
    df_cur_feat = state_feat_trim[state_feat_trim.title == feat]
    series_to_remove.extend(df_cur_feat[df_cur_feat.frequency == 'Annual'].id.values)

print('Number of series to remove:', len(series_to_remove))
df_state_feat = state_feat_trim[~state_feat_trim.id.isin(series_to_remove)]
print(df_state_feat.shape)

Number of series to remove: 1151
(10833, 8)

In [13]:
# Remove states that are not needed
df_state_feat_final = df_state_feat[df_state_feat.state_id.isin(states_needed)]
print(df_state_feat_final.shape)

(9838, 8)

In [14]:
# Check that we have each feature for each state
print(df_state_feat_final.observation_start.max())
print(df_state_feat_final.observation_end.min())
print(df_state_feat_final.title.nunique())
print(df_state_feat_final.state_id.nunique())
agg_state = df_state_feat_final.groupby('title').state_id.count()
print(agg_state.sort_values())

2008-01-01
2017-01-01
181
46
title
Accommodation and Food Services Earnings in                                          46
Poverty Universe, Age 5-17 related for                                               46
Poverty Universe, All Ages for                                                       46
Poverty, Child Tax Exemptions for                                                    46
Professional and Technical Services Earnings in                                      46
                                                                                     ..
Average Weekly Earnings of Production Employees: Manufacturing in                    92
Average Weekly Earnings of All Employees: Trade, Transportation, and Utilities in    92
Average Weekly Earnings of All Employees: Professional and Business Services in      92
New Private Housing Units Authorized by Building Permits for                         92
All Employees: Wholesale Trade in                                                    94
Name: state_id, Length: 181, dtype: int64

Seems like we have duplicate series or something for some things

In [15]:
df_out_adj_count = df_state_feat_final.groupby('title').seasonal_adjustment.nunique()
df_out_mult_adj = df_out_adj_count[df_out_adj_count > 1].index.values

series_to_remove = []
for feat in df_out_mult_adj:
    df_cur_feat = df_state_feat_final[df_state_feat_final.title == feat]
    series_to_remove.extend(df_cur_feat[df_cur_feat.seasonal_adjustment == 'Not Seasonally Adjusted'].id.values)

print(len(series_to_remove))

1510

Remove series that are not seasonally adjusted and keep the seasonally adjusted ones

In [16]:
df_out_fin = df_state_feat_final[~df_state_feat_final.id.isin(series_to_remove)]
print(df_out_fin.shape)

(8328, 8)

In [17]:
# Check that we have each feature for each state
print(df_out_fin.observation_start.max())
print(df_out_fin.observation_end.min())
print(df_out_fin.title.nunique())
print(df_out_fin.state_id.nunique())
agg_fin = df_out_fin.groupby('title').state_id.count()
print(agg_fin.sort_values())

2008-01-01
2017-01-01
181
46
title
Accommodation and Food Services Earnings in                      46
Professional and Technical Services Earnings in                  46
Professional and Technical Services Wages and Salaries in        46
Projected Business Formations Within 4 Quarters for              46
Projected Business Formations within 8 Quarters for              46
                                                                 ..
Implicit Regional Price Deflator: Metropolitan Portion for       46
Implicit Regional Price Deflator: Nonmetropolitan Portion for    46
Imports of Goods for                                             46
Exports of Goods for                                             46
All Employees: Wholesale Trade in                                48
Name: state_id, Length: 181, dtype: int64

Looks like we still have something going on with All Employees: Wholesale Trade in

In [18]:
temp = df_out_fin[df_out_fin.title.str.match('All Employees: Wholesale')]
# print(temp.sort_values('state_id'))
print(temp[temp.state_id == 27300])  
print(temp[temp.state_id == 27323])

                           id                              title  \
30612    SMS22000004100000001  All Employees: Wholesale Trade in
30798  SMU22000004100000001SA  All Employees: Wholesale Trade in

      observation_start observation_end frequency                 units  \
30612        1990-01-01      2020-02-01   Monthly  Thousands of Persons
30798        1990-01-01      2017-01-01   Monthly  Thousands of Persons

       seasonal_adjustment  state_id
30612  Seasonally Adjusted     27300
30798  Seasonally Adjusted     27300
                           id                              title  \
67609    SMS45000004100000001  All Employees: Wholesale Trade in
67769  SMU45000004100000001SA  All Employees: Wholesale Trade in

      observation_start observation_end frequency                 units  \
67609        1990-01-01      2020-02-01   Monthly  Thousands of Persons
67769        1990-01-01      2020-02-01   Monthly  Thousands of Persons

       seasonal_adjustment  state_id
67609  Seasonally Adjusted     27323
67769  Seasonally Adjusted     27323

We will drop SMS22000004100000001 and SMS45000004100000001

In [19]:
df_state_features_out = df_out_fin[~df_out_fin.id.isin(['SMS22000004100000001', 'SMS45000004100000001'])]

Rename state features with prefix: ST

In [21]:
df_state_features_out.title.apply(lambda title: 'ST_{}'.format(title))

3                    ST_Age 65 and Over Tax Exemptions for
45       ST_Allowance for Loan and Lease Losses for Com...
77       ST_Allocated Transfer Risk Reserves for Commer...
110      ST_New Private Housing Units Authorized by Bui...
112      ST_New Private Housing Units Authorized by Bui...
                               ...
85485                ST_Retail Trade Wages and Salaries in
85486                       ST_Total Wages and Salaries in
85487    ST_Transportation and Warehousing Wages and Sa...
85488                   ST_Utilities Wages and Salaries in
85489             ST_Wholesale Trade Wages and Salaries in
Name: title, Length: 8326, dtype: object

In [22]:
# Check that we have each feature for each state
print(df_state_features_out.observation_start.max())
print(df_state_features_out.observation_end.min())
print(df_state_features_out.title.nunique())
print(df_state_features_out.state_id.nunique())
agg_fin = df_state_features_out.groupby('title').state_id.count()
print(agg_fin.sort_values())

2008-01-01
2017-01-01
181
46
title
Accommodation and Food Services Earnings in                      46
Professional and Technical Services Earnings in                  46
Professional and Technical Services Wages and Salaries in        46
Projected Business Formations Within 4 Quarters for              46
Projected Business Formations within 8 Quarters for              46
                                                                 ..
Implicit Regional Price Deflator for                             46
Implicit Regional Price Deflator: Metropolitan Portion for       46
Implicit Regional Price Deflator: Nonmetropolitan Portion for    46
Imports of Goods: Manufactured Commodities for                   46
Wholesale Trade Wages and Salaries in                            46
Name: state_id, Length: 181, dtype: int64

In [23]:
# Check county level again
trim_c_data = pd.read_csv('county_features_trimmed.csv')
print(trim_c_data.observation_start.max())
print(trim_c_data.observation_end.min())
print(trim_c_data.title.nunique())
print(trim_c_data.county_id.nunique())
agg_county_fin = trim_c_data.groupby('title').county_id.count()
print(agg_county_fin)

2010-01-01
2017-01-01
73
1985
title
90% Confidence Interval Lower Bound of Estimate of Median Household Income                     1985
90% Confidence Interval Lower Bound of Estimate of People Age 0-17 in Poverty                  1985
90% Confidence Interval Lower Bound of Estimate of People of All Ages in Poverty               1985
90% Confidence Interval Lower Bound of Estimate of Percent of People Age 0-17 in Poverty       1985
90% Confidence Interval Lower Bound of Estimate of Percent of People of All Ages in Poverty    1985
                                                                                               ...
Resident Population                                                                            1985
SNAP Benefits Recipients                                                                       1985
Single-parent Households with Children as a Percentage of Households with Children             1985
Unemployed Persons                                                                             1985
Unemployment Rate                                                                              1985
Name: county_id, Length: 73, dtype: int64

### Finally

In [25]:
trim_c_data.to_csv('county_features_final.csv')
df_state_features_out.to_csv('state_features_final.csv')